[user]
	name = Matthias Schaefer
	email = matsch1@gmx.net
[core]
	autocrlf = false
[credential]
	helper = store
[pull]
	rebase = false
[safe]
	directory = /storage/emulated/0/Documents/web
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
    tool = nvimdiff
[mergetool]
    prompt = false
[mergetool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w' -c 'wincmd J'"

