[Desktop Entry]
Exec=/home/matsch/.dotfiles/scripts/autostart_main.sh
Icon=application-x-shellscript
Name=autostart_main.sh
Type=Application
X-KDE-AutostartScript=true
